@use 'src/variables' as c;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
html, body, input, mat-label  {
  font-family: 'Ubuntu', sans-serif;
}
body {
  background-color: c.$tertiary-color;
  color: c.$primary-font-color;
}

#start {
  width: 40%;
  margin-bottom: 5%;
  margin-top: 3%;
  color: c.$tertiary-color;
  font-size: 25px;
  border-color: c.$tertiary-color;
  border-width: 2px;
  background-color: c.$primary-font-color;
  &:hover {
    background-color: c.$tertiary-color;
    color: c.$primary-font-color;
    border-color: c.$primary-font-color;
  }
}

